@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

/* start header */

div.container {
  max-width: 2020px !important;
  padding: 0 10px;
  margin: 0 auto;
}

.header-up {
  background: #fff;
}

.header-logo img {
  width: 710px;
  height: 152px;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 225px;
}

.header-contact {
  display: block;
  position: relative;
  margin-left: auto;
}

.header-contact a {
  font-family: "Roboto" ,sans-serif;
  font-size: 69px;
  font-weight: 900;
}

.contact-description {
  font-family: "Roboto";
  font-size: 34px;
  text-align: right;
}

.header-btn {
  font-size: 34px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding: 33px 73px;
  background-color: #f6ff00;
  border-radius: 16px;
  margin-left: 30px;
}

.header-down {
  max-height: 1174px;
  background-color: #222222;
  background-image: url("../img/BG/fon-bg.png");
}

.header-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 1174px;
  position: relative;
}

.content-master {
  height: 100%;
  width: 38.4%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  padding-top: 45.25%;
  padding-left: 1.1%;
}

.content-master__text {
  width: 577px;
  height: 115px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 16px 32px;
  position: relative;
  display: block;
}

.content-master__text .free {
  font-family: "Roboto",sans-serif;
  font-weight: 900;
  font-size: 37px;
}

.content-master__text .call-master {
  font-family: "Roboto",sans-serif;
  font-weight: 900;
  font-size: 54px;
  color: #ae02ac;
}

.content-description {
  max-width: 61.6%;
}

.content-description .avantages {
  width: 595px;
  height: 195px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 66px;
  margin-bottom: 75px;
}

.content-description .avantages span {
  color: #ffff00;
}

.content-description__title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 190px;
  color: #ffffff;
  margin-top: 90px;
  margin-bottom: 70px;
  white-space: nowrap;
}

.profitable {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 59px;
  font-weight: 900;
  padding: 26px 80px 17px 32px;
  display: inline-block;
  background-color: #ae02ac;
  margin-bottom: 82px;
}

.why-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.why {
  height: 120px;
  color: #ffffff;
  font-family: "Roboto";
  font-size: 42px;
  font-weight: 900;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 71px;
}

.why::before {
  content: "";
  position: absolute;
  height: 100px;
  left: 0;
}

.price {
  width: 331px;
  padding-left: 111px;
}

.diagnostics {
  width: 380px;
  padding-left: 131px;
}

.repair {
  width: 429px;
  padding-left: 131px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

form input {
  width: 29.5%;
  height: 90px;
  border-radius: 14px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  opacity: 0.22;
  font-family: "Roboto", sans-serif;
  font-size: 34px;
  font-weight: 700;
  padding-left: 25px;
}

form .get-consultation {
  width: 36%;
  height: 90px;
  border-radius: 14px;
  background-color: #ffff00;
  font-family: "Roboto",sans-serif;
  font-size: 34px;
  font-weight: 700;
}

.avantages {
  max-height: 1550px;
}

.avantages__title {
  color: #42b9ed;
  font-family: "Roboto", sans-serif;
  font-size: 199px;
  font-weight: 900;
  text-align: center;
  margin: 104px 0 103px;
}

.avantages__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.avantage {
  width: 650px;
  height: 510px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.avantage .title {
  color: #ae02ac;
  font-family: "Roboto", sans-serif;
  font-size: 54px;
  font-weight: 900;
  margin: 37px 0 41px;
}

.avantage .description {
  width: 333px;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 400;
}

.window-broken {
  height: 611px;
  background-color: #ae02ac;
  opacity: 0.99;
}

.window-broken__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 611px;
}

.wibdow-broken__questions {
  width: 1325px;
}

.question-title {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 159px;
  font-weight: 700;
  margin-bottom: 68px;
}

.questions__litle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.question {
  color: #ffffff;
  font-family: "Roboto",sans-serif;
  font-size: 41px;
  font-weight: 700;
}

.wibdow-broken__decision {
  width: 713px;
  height: 454px;
  border: 50px solid #c243c1;
}

.wibdow-broken__decision .decision__call-master {
  width: 412px;
  margin: 35px auto;
}

.wibdow-broken__decision .decision__call-master .call-master__link {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 34px;
  font-weight: 700;
  padding: 23px 46px;
  border-radius: 14px;
  background-color: #f6ff00;
  display: block;
}

.decision__title {
  width: 412px;
  margin: 0 auto;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 68px;
  font-weight: 700;
  margin-top: 70px;
}

.decision__title span {
  color: #f6ff00;
}

.type-repair {
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  max-width: 2900px;
}

.type-repair__title {
  color: #42b9ed;
  font-family: "Roboto", sans-serif;
  font-size: 199px;
  font-weight: 900;
  text-align: center;
  margin: 136px 0 136px;
}

.type-repair__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 2645px;
  margin: 0 auto;
  padding: 0 20px;
}

.type {
  width: 332px;
  margin-bottom: 120px;
}

.type + .type {
  padding-right: 20px;
}

.type__title {
  color: #ae02ac;
  font-family: "Roboto", sans-serif;
  font-size: 44px;
  font-weight: 900;
  padding-left: 65px;
  margin-bottom: 43px;
  position: relative;
}

.type__title span {
  white-space: nowrap;
}

.type__title::before {
  content: " ";
  position: absolute;
  left: 1px;
  width: 56px;
  height: 56px;
  background-image: url("../img/icon_type-repair.png") !important;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  -webkit-transform: translate(0, 25%);
      -ms-transform: translate(0, 25%);
          transform: translate(0, 25%);
}

.type__description {
  width: 334px;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 49px;
}

a.type__order-link {
  color: #008ac6;
  font-family: "Roboto", sans-serif;
  font-size: 34px;
  font-weight: 700;
  padding: 14px 24px;
  border: 1px solid #008ac6;
  border-radius: 6px;
}

@media (max-width: 1920px) {
  .container {
    width: 1580px;
  }

  .header-logo img {
    width: 500px;
    height: 100px;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .header-contact a {
    font-size: 49px;
  }

  .contact-description {
    font-size: 24px;
  }

  .header-btn {
    font-size: 24px;
  }

  .content-description__title {
    font-size: 140px;
  }

  .header-content {
    max-height: 70.61%;
  }

  .content-master {
    height: 100%;
  }

  .avantages {
    font-size: 47px;
  }

  .profitable {
    font-size: 43px;
  }

  .why-us {
    height: 100px;
  }

  .why {
    font-size: 30px;
    height: 100px;
  }
}

.webp .header-down{ background-image: url(../img/BG/fon-bg.webp); }

.webp .type__title::before{ background-image: url(../img/icon_type-repair.webp) !important; }